<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @requirement.description %>
</p>

<p>
  <b>Points:</b>
  <%= @requirement.points %>
</p>


<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
