<div id="outer" class="container">
	<%= render 'layouts/header' %>
	<div id="content" class="span9">
		<%= render 'layouts/tabs' %>
        <div class="tab-content">
		  <%= render 'layouts/tabhome' %>
	      <%= render 'layouts/tabwork' %>
	      <%= render 'layouts/tabgym' %>
	      <%= render 'layouts/tabmars' %>
	      <%= news_table %>
	   
        </div>
        <%= render 'layouts/footer' %>
	</div>
	<%= render 'layouts/sidebar' %>
</div>

</body>
</html>
